<div layout="column" flex pc-selection>
  <md-toolbar ng-if="!selectionMode" class="md-toolbar-tools" md-whiteframe="2">
    <div flex></div>    
    <pc-selection-button/>
  </md-toolbar>

  <pc-selection-toolbar>
      <md-button  class="md-icon-button" aria-label="Custom Icon Button" ng-click="deletePhotos($event)">
          <md-icon md-font-set="material-icons">delete</md-icon>
      </md-button>
  </pc-selection-toolbar>

  <md-content md-scroll-y flex load-on-scroll style="position: relative;">
      
      <md-grid-list id="photos" md-cols="7" md-cols-xs="4" md-gutter="1px" md-row-height="1:1">
        <md-grid-tile ng-repeat="p in photos">
          <pc-selection-item>
            <a href="#!{{p.url | thumbnail }}" >
              <img ng-src="{{p.url}}" imageonload/>
              
            </a>
            <md-icon class="video_icon" ng-if="p.url.indexOf('.mp4') > 0">play_circle_filled</md-icon>
          </pc-selection-item>               
        </md-grid-tile>
      </md-grid-list>
    </md-content>

    <div class="screencenter" ng-show="imgToLoad > 0">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      <svg><circle cx="33" cy="33" r="33" fill="white" ></circle></svg>
    </div>
</div>
