<div id="photo">
	<div id="header">
		<a href="#!/"><img src="/images/back.png"/></a>
		<a id="fullscreen" href="#!/{{ photos[currentPhoto].url | original }} "><img src="/images/fullscreen.png"/></a>
	</div>
	<a id="prev" href="#!/{{ photos[currentPhoto - 1].url | thumbnail }} "><img src="/images/left_arrow.png"/></a>
	<a id="next" href="#!/{{ photos[currentPhoto + 1].url | thumbnail }} "><img src="/images/right_arrow.png"/></a>
	<div id="media" >
		<div id="picture"
			style="background-image:url('/large/{{$route.current.params.folder}}')"
			ng-show="$route.current.params.folder.indexOf('.jpg') > 0"
		></div>
		<!-- autoplay -->
		<video id="video" ng-show="$route.current.params.folder.indexOf('.mp4') > 0"
			src="/photo/{{$route.current.params.folder}}"	 controls poster="/large/{{$route.current.params.folder}}">
			Votre navigateur ne permet pas de lire les vidéos.
			Mais vous pouvez toujours
			<a href="fichiervideo.webm">la télécharger</a> !
		</video>
	</div>
	<div id="footer">
		<label>
			<input type="radio"
				ng-model="data.star"
				value="1"
				name="star1">
			1
		</label>
		<label>
			<input type="radio"
				ng-model="data.star"
				value="2"
				name="star2">
			2
		</label>
		<label>
			<input type="radio"
				ng-model="data.star"
				value="3"
				name="star3">
			3
		</label>
		<label>
			<input type="radio"
				ng-model="data.star"
				value="4"
				name="star4">
			4
		</label><label>
			<input type="radio"
				ng-model="data.star"
				value="5"
				name="star5">
			5
		</label>
		<button id="samplejsonpbtn"
			ng-click="post()">
			submit
		</button>status = {{status}}
	</div>
</div>
